body {
  font-family: Arial, sans-serif;
  background-color: #ffc2f2;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.container {
  background: rgb(166, 228, 255);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  height:400px;
}

h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
}

#addBtn {
  padding: 10px 20px;
  border: none;
  background-color: #5c67f2;
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #4a54e1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fafafa;
  margin-bottom: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: #ff4d4d;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #e60000;
}
